#blog-container {
    max-width: 1440px;
    margin: auto;
    padding: 1.5rem 2rem;
    color: #1A1A1A;
}

.breadcrumb {
    margin-bottom: 25px;
}

.breadcrumb a {
    text-decoration: underline;
}

#blog-layout {
    display: flex;
    gap: 10px;
}

.blog-post {
    flex: 75%
}

.blog-aside {
    flex: 25%
}

.blog-post__meta {
    margin-bottom: 25px;
}

.blog-post__cover img {
    width: 100%;
    height: 500px;
    object-fit: fill;
    border-radius: 5px;
}

.blog-post__cover figcaption {
    opacity: 0.3;
}

.blog-post__description {
    margin: 30px 0;
}

.blog-post__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.blog-post__tags span {
    margin-right: 5px;
}

.blog-post__tags a {
    text-decoration: underline;
    margin-right: 5px;
}

.blog-aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer {
    width: 100%;
    height: 10px;
}

#footer .container {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background: #6fd2f5
}

.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    background: #6fd2f5
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #6fd2f5;
    box-shadow: 0 2px 5px #0003;
    transition: transform .2s, background .3s
}

.social-icons img {
    width: 20px;
    height: 20px;
    background: #6fd2f5
}

.copyright {
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    background: #6fd2f5
}