#hero {
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 10%;
    margin-bottom: 70px
}

#hero_left {
    width: 60vw
}

#hero_right {
    width: 40vw
}

#hero_left h4 {
    color: #555;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 15px;
    opacity: .7
}

#hero_left h1 {
    color: #222;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px
}

#hero_left p {
    font-weight: 500;
    margin-bottom: 40px;
    padding-right: 100px
}

#hero_left>.btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 30px;
    border-radius: 1px;
    border: none;
    margin-right: 7px
}

#hero_left>.btn:hover {
    opacity: .9
}

#hero_right>img {
    height: 350px;
    width: 360px;
    margin: 30px
}

@media screen and (max-width: 1024px) {
    #hero {
        height: auto
    }

    #hero_left h4 {
        letter-spacing: 5px;
        margin-top: 10px;
        font-size: 12px
    }

    #hero_left h1 {
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 850px
    }

    #hero {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px
    }

    #hero_left,
    #hero_right {
        width: 100%;
        text-align: center
    }

    #hero_left p {
        font-weight: 500;
        margin-bottom: 50px;
        padding: 0
    }

    #hero_right {
        text-align: center
    }

    #hero_right>img {
        height: 250px;
        width: 260px
    }
}

#about-me {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 10%;
    margin-bottom: 70px
}

#about-me_left {
    width: 40vw
}

#about-me_right {
    width: 60vw
}

#about-me_left>img {
    height: 300px;
    width: 400px
}

#about-me_right h4 {
    color: #555;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 15px;
    opacity: .7
}

#about-me_right h1 {
    color: #222;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px
}

#about-me_right p {
    font-weight: 500;
    margin-bottom: 40px
}

#about-me_right>.btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 30px;
    border-radius: 1px;
    border: none
}

#about-me_right>.btn:hover {
    opacity: .9
}

@media screen and (max-width: 1024px) {
    #about-me_left {
        width: 100%
    }

    #about-me_left>img {
        height: 300px;
        width: 375px;
        margin: 0
    }

    #about-me_right h4 {
        letter-spacing: 4px;
        margin-top: 10px
    }

    #about-me_right h1 {
        font-weight: 800;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 850px
    }

    #about-me {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px
    }

    #about-me_right {
        text-align: center;
        width: 100%
    }

    #about-me_left {
        text-align: center
    }

    #about-me_right h1 {
        font-weight: 800;
        font-size: 30px;
        line-height: 40px
    }

    #about-me_left>img {
        height: 230px;
        width: 275px;
        margin: 0
    }

    #about-me_right>.btn {
        padding: 10px 50px
    }
}

#specialize {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    margin-inline: auto;
    padding: 10px 10%;
    margin-bottom: 70px
}

#specialize h3 {
    color: #222;
    text-align: center;
    font-size: 35px;
    font-weight: 800
}

#skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%
}

.icon {
    height: 60px;
    width: 60px;
    padding: 10px;
    border: 1px solid #333333
}

.inprogress {
    opacity: .2
}

@media screen and (max-width:850px) {
    #specialize {
        padding: 10px
    }
}

#my-work {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    padding: 10px 10%;
    margin-bottom: 70px
}

#my-work h3 {
    color: #222;
    font-size: 35px;
    font-weight: 800;
    text-align: center
}

.cards {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0
}

.card {
    box-shadow: #00000029 0 1px 4px;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column
}

.card>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex: 1;
    box-shadow: #00000029 0 0 2px
}

.description {
    margin: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1
}

.description h4 {
    margin-bottom: 10px
}

.description p {
    font-size: 12px;
    margin-bottom: 10px
}

.description div {
    margin-bottom: 7px
}

@media screen and (max-width: 850px) {
    .cards {
        gap: 10px
    }

    .card {
        width: 100%
    }

    #my-work h3 {
        font-size: 30px
    }
}

contact-me {
    max-width: 1440px;
    margin-inline: auto;
    padding: 10px 10%
}

#contact-me h2 {
    color: #222;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 800
}

.contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px
}

form,
label {
    background: #fdecec
}

.form-container {
    background: #fdecec;
    padding: 20px;
    border-radius: 1px;
    flex: 1;
    max-width: 500px;
    border: 1px solid #f5bcbc
}

.form-container label {
    display: block;
    font-weight: 500;
    margin: 10px 0 5px
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px
}

.form-container textarea {
    resize: none;
    height: 100px
}

.form-container button {
    width: 100%;
    background: #e85a39;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: pointer
}

.form-container button:hover {
    background: #d94b2c
}

.contact-info {
    background: #fdecec;
    padding: 20px;
    border-radius: 1px;
    flex: 1;
    max-width: 500px;
    border: 1px solid #f5bcbc
}

.links>strong,
.links>a {
    background: #e85a39
}

.contact-info .links {
    background: #e85a39;
    color: #fff;
    padding: 15px;
    border-radius: 1px;
    margin-bottom: 15px;
    font-size: 16px
}

.links a {
    color: #fff;
    text-decoration: none
}

.placeholder {
    background: #d6d6d6;
    height: 70px;
    border-radius: 1px;
    margin-bottom: 15px
}

@media screen and (max-width: 1024px) {
    .contact {
        flex-direction: column;
        align-items: center
    }

    .form-container,
    .contact-info {
        max-width: 650px;
        width: 100%
    }

    #contact-me h2 {
        font-size: 30px
    }
}

footer {
    background: #6fd2f5;
    padding: 30px 50px 10px
}

.footer-container {
    background: #6fd2f5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto
}

.footer-column h3 {
    color: #222;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    background: #6fd2f5
}

.footer-column {
    background: #6fd2f5
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #6fd2f5
}

.footer-links li {
    margin-bottom: 10px;
    background: #6fd2f5
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    background: #6fd2f5
}

.footer-links a:hover {
    text-decoration: underline
}

.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    background: #6fd2f5
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6fd2f5;
    box-shadow: 0 2px 5px #0003;
    transition: transform .2s, background .3s
}

.social-icons img {
    width: 30px;
    height: 30px;
    background: #6fd2f5
}

.copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    border-top: 1px solid rgb(0 0 0 / .2);
    color: #333;
    background: #6fd2f5
}