@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins.ttf) format("truetype");
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans.ttf) format("truetype")
}

:root {
    --primary-color: #EB6440;
    --secondary-color: #7DDFFD;
    --font-color: #333333;
    --background-color: #fff2f2
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color)
}

a,
a:visited,
a:hover,
a:active {
    color: #1A1A1A;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin-inline: auto
}

#app {
    position: relative
}